.construccin-de {
  background-color: #2f324b;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.construccin-de .div-5 {
  background-color: #2f324b;
  overflow: hidden;
  width: 1106px;
  height: 632px;
  position: relative;
}

.construccin-de .overlap-14 {
  position: absolute;
  width: 1090px;
  height: 791px;
  top: -73px;
  left: 41px;
}

.construccin-de .overlap-15 {
  position: absolute;
  width: 560px;
  height: 68px;
  top: 160px;
  left: 7px;
  background-color: #deedf0;
  border-radius: 50px;
}

.construccin-de .text-wrapper-19 {
  position: absolute;
  width: 520px;
  height: 59px;
  top: 3px;
  left: 28px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: #629b99;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.construccin-de .motivaci-n-2 {
  position: absolute;
  width: 473px;
  height: 34px;
  top: 118px;
  left: 17px;
  font-family: "Manjari", Helvetica;
  font-weight: 400;
  color: #f9f2e8;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 0.1px;
}

.construccin-de .text-wrapper-20 {
  font-family: "Manjari", Helvetica;
  font-weight: 400;
  color: #f9f2e8;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 0.1px;
}

.construccin-de .overlap-16 {
  position: absolute;
  width: 1090px;
  height: 791px;
  top: 0;
  left: 0;
}

.construccin-de .overlap-group-7 {
  position: absolute;
  width: 1022px;
  height: 369px;
  top: 247px;
  left: 0;
}

.construccin-de .deseo-escribir {
  position: absolute;
  width: 710px;
  height: 164px;
  top: 46px;
  left: 63px;
  font-family: "Manjari", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 55px;
}

.construccin-de .text-wrapper-21 {
  top: 0;
  left: 0;
  position: absolute;
  width: 70px;
  height: 189px;
  font-family: "Libre Caslon Text", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 128px;
  letter-spacing: 0;
  line-height: 55px;
}

.construccin-de .text-wrapper-22 {
  top: 176px;
  left: 413px;
  position: absolute;
  width: 70px;
  height: 189px;
  font-family: "Libre Caslon Text", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 128px;
  letter-spacing: 0;
  line-height: 55px;
}

.construccin-de .deconstruir-a-mis {
  position: absolute;
  width: 549px;
  height: 147px;
  top: 222px;
  left: 473px;
  font-family: "Manjari", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 55px;
}

.construccin-de .overlap-17 {
  position: absolute;
  width: 324px;
  height: 271px;
  top: 0;
  left: 766px;
  background-image: url(https://c.animaapp.com/mfmus6pb7L3zlF/img/vector-45.svg);
  background-size: 100% 100%;
}

.construccin-de .group-7 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 160px;
  left: 187px;
}

.construccin-de .overlap-18 {
  position: absolute;
  width: 219px;
  height: 259px;
  top: 532px;
  left: 35px;
}

.construccin-de .vector-56 {
  position: absolute;
  width: 219px;
  height: 215px;
  top: 44px;
  left: 0;
}

.construccin-de .vector-57 {
  position: absolute;
  width: 101px;
  height: 99px;
  top: 0;
  left: 16px;
}

.construccin-de .rectangle-6 {
  position: absolute;
  width: 977px;
  height: 524px;
  top: -2122px;
  left: -3975px;
}
